  <template name="otp">
      <div class="middle-box text-center loginscreen animated fadeInDown">
          <div>
              <div>
                  <h1 class="logo-name">S²</h1>
              </div>
              <h3>Check your emails, you will receive a code in few seconds !</h3>

              <form class="upload" role="form">
                  <div class="form-group">
                      <input type="password" name="otp" class="form-control required" placeholder="Enter the code">
                  </div>
                  <button type="submit" class="btn btn-primary block full-width m-b">Validate</button>
              </form>
              <p class="m-t"> <small>Swallow Labs solution &copy; 2016</small> </p>
          </div>
      </div>
  </template>
