<template name="home">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="search-form">
            <form action="" method="get">
                <div class="input-group">
                    <input type="text" placeholder="Screen ID, countries,..." class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
  <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Screens location</h5>
                        <div class="row">
                          <div class="col-md-4 col-md-offset-6">
                            <form class="searchByDate">
                                <div class="form-group" id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                          <i class="fa fa-calendar"></i>
                                        </span>
                                          <input type="text" name="search" placeholder="Choose date" class="form-control">
                                          <div class="input-group-btn">
                                              <button class="btn btn-primary" type="submit">Search</button>
                                          </div>
                                    </div>
                                </div>
                            </form>
                          </div>
                      </div>
                    </div>
                    <div class="ibox-content">
                        <div class="google-map" id="map1" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="modal inmodal" id="screenDetailsPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">About this screen..</h4>
            </div>
            <div class="modal-body">
              <div class="dd" id="nestable2">
                <ol class="dd-list">
                    <li class="dd-item" data-id="1">
                        <div class="dd-handle">
                            <span class="label label-info"><i class="fa fa-map-marker"></i></span> Address
                        </div>
                        <div class="dd-handle">
                            <span class="label label-info"><i class="fa fa-desktop"></i></span> Screen size
                        </div>
                        <div class="dd-handle">
                            <span class="label label-info"><i class="fa fa-level-up"></i></span> 200$
                        </div>
                        <div class="dd-handle">
                            <span class="label label-info"><i class="fa fa-level-down"></i></span> 100$
                        </div>
                    </li>
                </ol>
            </div>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-block btn-outline btn-info btn-bookingAgenda"><i class="fa fa-shopping-cart"></i> Go to booking</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="agendaPopUp" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" style="height: 400px;">
        <div class="modal-content animated bounceInRight" style="width:1070px; left: -245px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Agenda of the screen</h4>
            </div>
            <div class="modal-body" >
              <div class="row animated fadeInDown" >
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                          <div>
                            <div id="calendar2"></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validateBooking" class="btn btn-w-m btn-primary"><i class="fa fa-angellist"></i> Validate your booking please </button>
            </div>
        </div>
    </div>
  </div>

</template>
