<template name="allBookings">
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <br>
        <h3 data-i18n="booking.title"></h3>
      </div>
  </div>
    <div class="wrapper wrapper-content">
          <div class="row">
              <div class="col-md-12">
                  <div class="google-map" id="mapBooking" style="height: 500px"></div>
              </div>
          </div>
    </div>
    <div class="modal inmodal" id="agendaPopUp" tabindex="-1" role="dialog" aria-hidden="false">
      <div class="modal-dialog" style="height: 400px;">
          <div class="modal-content animated bounceInRight" style="width:1265px; left: -340px;top:-45px">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" data-i18n="booking.screen_agenda"></h4>
                  {{Screen.screenAddress}} <br>
                  {{bookingCount}} <span data-i18n="booking.slotBooked"></span><br>
                  <span class="pull-right label label-primary" data-i18n="booking.label1"></span>
                  <span class="label label-warning pull-right" data-i18n="booking.label2"></span>
                  <span class="label label-danger pull-right" data-i18n="booking.label3"></span>
              </div>
              <div class="modal-body" style="height: 700px">
                <div class="col-lg-3">
                        <div style="width: 430px">
                            <div class="widget yellow-bg" style="height: 205px"><strong data-i18n="booking.slotDetails"></strong><br>
                              <i class="fa fa-calendar"></i>   {{segmentDate}} <br>
                              <i class="fa fa-level-up"></i>    {{segmentStartTime}}<br>
                              <i class="fa fa-level-down"></i>   {{segmentEndTime}}<br>
                              <i class="fa fa-calendar-o"></i>   {{bookedDate}}<br>
                              <i class="fa fa-file-video-o"></i>   {{video}}<br>
                              <i class="fa fa-file-photo-o"></i>   {{image}}<br>
                              <i class="fa fa-pencil"></i>   {{inputter}}<br>
                              <i class="fa fa-gavel"></i>   {{authorizer}}<br>
                              {{#if equals role.bookingAuthorize true}}
                                <button id="authorize" type="button" class="btn btn-danger btn-xs pull-right authorize"><span data-i18n="common.btn-auth"></span></button>&nbsp;
                              {{/if}}
                              {{#if equals role.bookingDelete true}}
                                <button id="cancel" type="button" class="btn btn-primary btn-xs pull-right cancel"><span data-i18n="common.btn-cancel"></span></button>&nbsp;
                              {{/if}}
                              {{#if equals role.bookingUpdate true}}
                                <button id="editContent" type="button" class="btn btn-danger btn-xs pull-right editContent"><span data-i18n="booking.btn-editContent"></span></button>&nbsp;
                              {{/if}}
                            </div>
                        </div>
                    <table>
                    <tr>
                      <td>
                            <div class='external-event navy-bg' style="width: 230px;"><span data-i18n="booking.selectVideo"></span></div>
                      </td>
                      <td>&nbsp;</td>
                      <td>
                            <div class='external-event navy-bg' style="width: 230px;"><span data-i18n="booking.selectImage"></span></div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="users-list">
                          <div class="form-group">
                            {{#if equals videos null}}
                              <strong data-i18n="booking.noVideo"></strong>
                            {{else}}
                              {{#each videos}}
                                <div class="radio"><input type="radio" value="{{_id}}" name="video"> <label for="radio"> <strong> {{videoName}} </strong></label></div>
                              {{/each}}
                                <div class="radio"><input type="radio" id="NoVideo" checked="" value="null" name="video"> <label for="radio"><strong data-i18n="booking.noVideo"></strong></label></div>
                            {{/if}}
                          </div>
                        </div>
                      </td>
                      <td>&nbsp;</td>
                      <td>
                        <div class="users-list">
                            <div class="form-group">
                              {{#if equals images null}}
                                <strong data-i18n="booking.noImage"></strong>
                              {{else}}
                                {{#each images}}
                                  <div class="radio"><input type="radio" value="{{_id}}" name="image"> <label for="radio"> <strong> {{imageName}} </strong></label></div>
                                {{/each}}
                                <div class="radio"><input type="radio" id="NoImage" checked="" value="null" name="image"> <label for="radio"> <strong data-i18n="booking.noVideo"></strong></label></div>
                              {{/if}}
                            </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <div>
                        {{#if equals role.bookingUpdate true}}
                          <button type="submit" id="validate" class="ladda-button btn btn-primary validate" data-style="expand-right"><i class="fa fa-gavel"></i>   <span data-i18n="booking.btn-assign"></span></button>
                        {{/if}}
                      </div>
                    </tr>
                  </table>
                </div>
                  <div class="col-lg-9" style="width: 765px; left:168px">
                      <div class="ibox float-e-margins">
                          <div class="ibox-content">
                            <div class='external-event navy-bg'><span data-i18n="booking.info"></span></div>
                            <div>
                              <div id="calendar"></div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
              </div>
          </div>
      </div>
    </div>
    <div class="modal inmodal" id="warning" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY" style="top:120px;">
                <div class="modal-header">
                    <h4 class="modal-title" data-i18n="common.warning"></h4>
                </div>
                <div class="modal-body">
                  <p><h3 data-i18n="booking.validateReservation"><strong data-i18n="booking.validate"></strong></h3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white cancelWarning"><span data-i18n="common.btn-cancel"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="warningSelection" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY" style="top:120px;">
                <div class="modal-header">
                    <h4 class="modal-title" data-i18n="common.warning"></h4>
                </div>
                <div class="modal-body">
                  <p><h3 data-i18n="booking.selectSlot"><strong data-i18n="booking.validate"></strong></h3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-white cancelWarning"><span data-i18n="common.btn-cancel"></span></button>
                </div>
            </div>
        </div>
    </div>
</template>
