<template name="companyArticles">
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <br>
        <h3 data-i18n="article.title"></h3>
      </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
                  <a href="{{pathFor route='allCompanies'}}" class="btn btn-primary btn-xs"><i class="fa fa-reply-all"></i>       <span data-i18n="common.btn-back"></span></a>
                  <div class="ibox-tools">
                    {{#if equals role.articleAdd true}}
                      <a class="btn btn-primary btn-xs newArticle"><i class="fa fa-list"></i>   <span data-i18n="article.btn-newArticle"></span></a>
                      <a class="btn btn-primary btn-xs options"><i class="fa fa-cog"></i>   <span data-i18n="article.btn-options"></span></a>
                    {{/if}}
                  </div>
                  <br>
                  <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-5">
                          {{#if notEquals company null }}
                            <h2>{{company}}</h2>
                          {{/if}}
                        </div>
                    </div>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-star"></i> <span data-i18n="article.onglet1"></span></a></li>
                          <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-star-half-empty"></i> <span data-i18n="article.onglet2"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                              <div class="full-height-scroll">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                          <br>
                                          <input type="text" class="form-control input-sm m-b-xs" id="filter" data-i18n="[placeholder]common.placeholder_search">
                                          <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                            <thead>
                                              <tr>
                                                <th data-i18n="article.articleTitle"></th>
                                                <th data-i18n="common.action" style="width: 200px;"></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {{#each articlesLive}}
                                                <tr class="gradeX">
                                                    <td>{{titlePivot}}</td>
                                                    <td class="center">
                                                      <button type="button" class="btn btn-outline btn-info btn-sm btn-details" title="{{detailsTitle}}"><i class="fa fa-eye"></i></button>
                                                      <a class="btn btn-outline btn-primary btn-sm btn-edit" title="{{updateTitle}}"><i class="fa fa-pencil"></i></a>
                                                      <button type="button" class="btn btn-outline btn-danger btn-sm btn-delete" title="{{deleteTitle}}"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                              {{/each}}
                                            </tbody>
                                            <tfoot>
                                              <tr>
                                                  <td colspan="5">
                                                    <ul class="pagination pull-right"></ul>
                                                  </td>
                                              </tr>
                                            </tfoot>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <div class="ibox float-e-margins">
                                        <br>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter1" data-i18n="[placeholder]common.placeholder_search">
                                        <table class="footable2 table table-stripped" data-page-size="8" data-filter=#filter1>
                                          <thead>
                                            <tr>
                                              <th data-i18n="article.articleTitle"></th>
                                              <th data-i18n="common.action" style="width: 200px;"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {{#each articlesAuthorization}}
                                              <tr>
                                                <td>{{titlePivot}}</td>
                                                  <td class="center">
                                                    {{#if equals buttonDetail true}}
                                                      <button type="button" class="btn btn-outline btn-info btn-sm detailsAu" title="{{detailsTitle}}"><i class="fa fa-eye"></i></button>
                                                    {{/if}}
                                                    {{#if equals buttonValidate true}}
                                                      <button type="button" id="validateAu" class="btn btn-outline btn-info btn-sm btn-default validateAu" title="{{validateTitle}}"><i class="fa fa-thumbs-up"></i></button>
                                                    {{/if}}
                                                    {{#if equals buttonAuthorize true}}
                                                      <button type="button" id="authorizeAu" class="btn btn-outline btn-info btn-sm btn-warning authorizeAu" title="{{authorizeTitle}}"><i class="fa fa-angellist"></i></button>
                                                    {{/if}}
                                                    {{#if equals buttonEdit true}}
                                                      <a type="button" class="btn btn-outline btn-primary btn-sm editAu" title="{{updateTitle}}"><i class="fa fa-pencil"></i></a>
                                                    {{/if}}
                                                    <button type="button" class="btn btn-outline btn-danger btn-sm cancelAu" title="{{deleteTitle}}"><i class="fa fa-trash"></i></button>
                                                  </td>
                                              </tr>
                                            {{/each}}
                                          </tbody>
                                          <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                  <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                          </tfoot>
                                        </table>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="choosingLanguages" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-cog modal-icon"></i>
                <h2 class="modal-title" data-i18n="article.configuration"></h2>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="message" data-i18n="article.selectLanguages"></label><br>
                      {{#each languagesLive}}
                        {{#if equals isPivot true}}
                          <div class="checkbox"><input type="checkbox" disabled="" id="{{_id}}" value="{{_id}}" checked name="language"><label for="radio" data-i18n="article.{{languageName}}"></label></div>
                        {{else}}
                          <div class="checkbox"><input type="checkbox" id="{{_id}}" value="{{_id}}" checked name="language"><label for="radio" data-i18n="article.{{languageName}}"></label></div>
                        {{/if}}
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <strong data-i18n="article.pivot"></strong>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                <button type="button" data-dismiss="modal" class="btn btn-outline btn-info btn-sm btn-danger confirm"><i class="fa fa-angellist"></i> <span data-i18n="common.btn-confirm"></span> </button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="checkAuthorising" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="width:1000px; left: -211px; top: -35px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.authorization"></h4>
              </div>
              <div class="modal-body" style="height: 800px;">
                {{#if equals oldArticle null}}
                  <div class="col-lg-12">
                      {{#each languagesNewArticle}}
                        <div class="row">
                          <div class="col-md-8">
                            <h4 for="message" data-i18n="article.{{languageName}}"></h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8">
                            <label data-i18n="article.articleTitle"></label>  {{title}}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <label data-i18n="article.articleContent"></label>
                            <div>
                              <textarea class="form-control" rows="6" disabled="" value="{{content}}"></textarea>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                      <div class="row">
                        <div class="col-md-8">
                          <label data-i18n="article.option"></label>  {{newArticle.option}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <label data-i18n="common.inputter"></label>  {{newArticle.inputter}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <label data-i18n="common.date"></label>  {{newArticle.dateTime}}
                        </div>
                      </div>
                      {{#if notEquals newArticle.subSection null }}
                        <div class="row">
                          <div class="col-md-8">
                            <label data-i18n="article.subsection"></label>  {{newArticle.subSection}}
                          </div>
                        </div>
                      {{/if}}
                  </div>
                {{else}}
                  <div class="col-lg-6">
                      <div class="ibox">
                              <h2 data-i18n="article.newArticle"></h2>
                              {{#each languagesNewArticle}}
                                <div class="row">
                                  <div class="col-md-8">
                                    <h4 for="message" data-i18n="article.{{languageName}}"></h4>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <label data-i18n="article.articleTitle"></label>  {{title}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <label data-i18n="article.articleContent"></label>
                                    <div>
                                      <textarea class="form-control" rows="6" disabled="" value="{{content}}"></textarea>
                                    </div>
                                  </div>
                                </div>
                              {{/each}}
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="article.option"></label>  {{newArticle.option}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="common.inputter"></label>  {{newArticle.inputter}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="common.date"></label>  {{newArticle.dateTime}}
                                </div>
                              </div>
                              {{#if notEquals newArticle.subSection null }}
                                <div class="row">
                                  <div class="col-md-8">
                                    <label data-i18n="article.subsection"></label>  {{newArticle.subSection}}
                                  </div>
                                </div>
                              {{/if}}
                        </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="ibox">
                              <h2 data-i18n="article.oldArticle"></h2>
                              {{#each languagesOldArticle}}
                                <div class="row">
                                  <div class="col-md-8">
                                    <h4 for="message" data-i18n="article.{{languageName}}"></h4>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8">
                                    <label data-i18n="article.articleTitle"></label>  {{title}}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <label data-i18n="article.articleContent"></label>
                                    <div>
                                      <textarea class="form-control" rows="6" disabled="" value="{{content}}"></textarea>
                                    </div>
                                  </div>
                                </div>
                              {{/each}}
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="article.option"></label>  {{oldArticle.option}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="common.inputter"></label>  {{oldArticle.inputter}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-8">
                                  <label data-i18n="common.date"></label>  {{oldArticle.dateTime}}
                                </div>
                              </div>
                              {{#if notEquals newArticle.subSection null }}
                                <div class="row">
                                  <div class="col-md-8">
                                    <label data-i18n="article.subsection"></label>  {{oldArticle.subSection}}
                                  </div>
                                </div>
                              {{/if}}
                        </div>
                  </div>
                {{/if}}
              </div>
              <div class="modal-footer">
                <p><strong><h3 data-i18n="common.auth_msg"></h3></strong></p>
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="button" id="BtnAuthorize" class="btn btn-outline btn-info btn-sm btn-danger BtnAuthorize" data-dismiss="modal"><i class="fa fa-angellist"></i> <span data-i18n="common.btn-auth"></span> </button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="ArticleDetails" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:800px; left: -115px; top: -25px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-list-alt modal-icon"></i>
              <h2 class="modal-title" data-i18n="common.details"></h2>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                      <label for="title" data-i18n="article.articleTitle"></label>   {{articleDetails.titlePivot}}
                  </div>
                  <div class="form-group">
                    <label for="title" data-i18n="article.articleContent"></label>
                    <textarea class="form-control" rows="6" disabled="" value="{{articleDetails.contentPivot}}"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="message" data-i18n="article.language"></label><br> {{articleDetails.languageSelected}}
                  </div>
                  <div class="form-group">
                      <label for="message" data-i18n="article.option"></label><br> {{articleDetails.option}}
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="article.subsection"></label>   {{articleDetails.subSection}}
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="common.inputter"></label>   {{articleDetails.inputter}}
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="common.authorizer"></label>   {{articleDetails.authorizer}}
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="common.date"></label>   {{articleDetails.dateTime}}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-close"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="edictState" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top:120px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-warning modal-icon"></i>
                <h4 class="modal-title" data-i18n="common.warning"></h4>
              </div>
              <div class="modal-body">
                <p><h3 data-i18n="common.edictState"></h3></p>
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-primary cancelWarning"><span data-i18n="common.btn-ok"></span></button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="checkDeleting" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top: 100px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.alert"></h4>
              </div>
              <div class="modal-body">
                  <strong><h3 data-i18n="common.delete_msg"></h3></strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="submit" class="btn btn-danger BtnDelete" data-dismiss="modal"><span data-i18n="common.btn-auth"></span></button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="checkCancel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top: 100px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.alert"></h4>
              </div>
              <div class="modal-body">
                  <strong><h3 data-i18n="common.delete_msg"></h3></strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="submit" class="btn btn-danger BtnCancel" data-dismiss="modal"><span data-i18n="common.btn-delete"></span></button>
              </div>
          </div>
      </div>
  </div>
</template>
