<template name="contractsType">
  <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <br>
        <h3 data-i18n="contractType.title"></h3>
      </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
                  <div class="ibox-tools">
                    <a href="{{pathFor route='allContracts'}}" class="btn btn-primary btn-xs"><i class="fa fa-reply-all"></i>       <span data-i18n="common.btn-back"></span></a>
                    <a class="btn btn-primary btn-xs newType"><i class="fa fa-cog"></i>   <span data-i18n="contractType.newType"></span></a>
                  </div>
                  <br>
                  <div class="ibox-content">
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-star"></i> <span data-i18n="contractType.onglet1"></span></a></li>
                          <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-star-half-empty"></i> <span data-i18n="contractType.onglet2"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                              <div class="full-height-scroll">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                          <br>
                                          <input type="text" class="form-control input-sm m-b-xs" id="filter" data-i18n="[placeholder]common.placeholder_search">
                                          <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                            <thead>
                                              <tr>
                                                <th data-i18n="contractType.name"></th>
                                                <th data-i18n="common.action" style="width: 200px;"></th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {{#each typesLive}}
                                                <tr class="gradeX">
                                                    <td>{{name}}</td>
                                                    <td class="center">
                                                      <button type="button" class="btn btn-outline btn-info btn-sm btn-details" title="{{detailsTitle}}"><i class="fa fa-eye"></i></button>
                                                      <a type="button" class="btn btn-outline btn-primary btn-sm btn-edit" title="{{updateTitle}}"><i class="fa fa-pencil"></i></a>
                                                      <button type="button" class="btn btn-outline btn-danger btn-sm btn-delete" title="{{deleteTitle}}"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                              {{/each}}
                                            </tbody>
                                            <tfoot>
                                              <tr>
                                                  <td colspan="5">
                                                    <ul class="pagination pull-right"></ul>
                                                  </td>
                                              </tr>
                                            </tfoot>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <div class="ibox float-e-margins">
                                        <br>
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter1" data-i18n="[placeholder]common.placeholder_search">
                                        <table class="footable2 table table-stripped" data-page-size="8" data-filter=#filter1>
                                          <thead>
                                            <tr>
                                              <th data-i18n="contractType.name"></th>
                                              <th data-i18n="common.action" style="width: 200px;"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {{#each typesAuthorization}}
                                              <tr>
                                                <td>{{name}}</td>
                                                <td class="center">
                                                  {{#if equals buttonDetail true}}
                                                    <button type="button" class="btn btn-outline btn-info btn-sm detailsAu" title="{{detailsTitle}}"><i class="fa fa-eye"></i></button>
                                                  {{/if}}
                                                  {{#if equals buttonValidate true}}
                                                    <button type="button" class="btn btn-outline btn-info btn-sm btn-default validateAu" title="{{validateTitle}}"><i class="fa fa-thumbs-up"></i></button>
                                                  {{/if}}
                                                  {{#if equals buttonAuthorize true}}
                                                    <button type="button" class="btn btn-outline btn-info btn-sm btn-warning authorizeAu" title="{{authorizeTitle}}"><i class="fa fa-angellist"></i></button>
                                                  {{/if}}
                                                  {{#if equals buttonEdit true}}
                                                    <button type="button" class="btn btn-outline btn-primary btn-sm editAu" title="{{updateTitle}}"><i class="fa fa-pencil"></i></button>
                                                  {{/if}}
                                                  <button type="button" class="btn btn-outline btn-danger btn-sm cancelAu" title="{{deleteTitle}}"><i class="fa fa-trash"></i></button>
                                                </td>
                                              </tr>
                                            {{/each}}
                                          </tbody>
                                          <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                  <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                          </tfoot>
                                        </table>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="newContractType" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:550px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-sliders modal-icon"></i>
              <h4 class="modal-title" data-i18n="contractType.newType"></h4>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div id="warning" class="alert alert-danger alert-dismissable" >
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> <span data-i18n="contractType.requiredTypeName"></span>
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="contractType.name"></label>
                      <input id="name" type="text" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                      <label for="message" data-i18n="contractType.description"></label>
                      <textarea class="form-control" id="description" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
              <button type="submit" class="ladda-button btn btn-primary validate" data-style="expand-right"><i class="fa fa-gavel"></i>    <span data-i18n="common.btn-validate"></span></button>
              <button type="submit" class="ladda-button btn btn-danger save" data-style="expand-right"><i class="fa fa-database"></i>    <span data-i18n="common.btn-save"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="editTypeLive" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:550px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-pencil modal-icon"></i>
              <h4 class="modal-title" data-i18n="common.update"></h4>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div id="warning1" class="alert alert-danger alert-dismissable" >
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> <span data-i18n="contractType.requiredTypeName"></span>
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="contractType.name"></label>
                      <input id="name1" value="{{typeSelectedLive.name}}" type="text" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                      <label for="message" data-i18n="contractType.description"></label>
                      <textarea class="form-control" value="{{typeSelectedLive.description}}" id="description1" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
              <button type="submit" class="ladda-button btn btn-primary validateUpdateLive" data-style="expand-right"><i class="fa fa-gavel"></i>    <span data-i18n="common.btn-validate"></span></button>
              <button type="submit" class="ladda-button btn btn-danger saveUpdateLive" data-style="expand-right"><i class="fa fa-database"></i>    <span data-i18n="common.btn-save"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="editTypeAu" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:550px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-pencil modal-icon"></i>
              <h4 class="modal-title" data-i18n="common.update"></h4>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div id="warning2" class="alert alert-danger alert-dismissable" >
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button> <span data-i18n="contractType.requiredTypeName"></span>
                  </div>
                  <div class="form-group">
                      <label for="title" data-i18n="contractType.name"></label>
                      <input id="name2" value="{{typeSelectedAu.name}}" type="text" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                      <label for="message" data-i18n="contractType.description"></label>
                      <textarea class="form-control" value="{{typeSelectedAu.description}}" id="description2" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
              <button type="submit" class="ladda-button btn btn-primary validateUpdateAu" data-style="expand-right"><i class="fa fa-gavel"></i>    <span data-i18n="common.btn-validate"></span></button>
              <button type="submit" class="ladda-button btn btn-danger saveUpdateAu" data-style="expand-right"><i class="fa fa-database"></i>    <span data-i18n="common.btn-save"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="checkAuthorising" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        {{#if equals oldType null}}
        <div class="modal-content animated flipInY" style="width: 600px;top:-25px;left: -25px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" data-i18n="common.authorization"></h4>
            </div>
            <div class="modal-body" style="height: 340px;">
                <div class="col-lg-12">
                    <div class="ibox">
                      <div class="row">
                        <div class="col-md-8">
                          <label for="title" data-i18n="contractType.name"></label>  {{newType.name}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="title" data-i18n="contractType.description"></label>
                          <textarea class="form-control" value="{{newType.description}}" rows="6" disabled></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <label for="title" data-i18n="common.inputter"></label>  {{newType.inputter}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <label for="title" data-i18n="common.date"></label>  {{newType.dateTime}}
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <p><strong><h3 data-i18n="common.auth_msg"></h3></strong></p>
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="button" class="btn btn-outline btn-info btn-sm btn-danger BtnAuthorize" data-dismiss="modal"><i class="fa fa-angellist"></i> <span data-i18n="common.btn-auth"></span></button>
              </div>
          </div>
        {{else}}
          <div class="modal-content animated flipInY" style="width: 1110px;top:-25px;left: -270px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.authorization"></h4>
              </div>
              <div class="modal-body" style="height: 350px;">
                <div class="col-lg-6">
                  <div class="ibox">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 data-i18n="common.newInfo"></h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="contractType.name"></label>  {{newType.name}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="contractType.description"></label>
                        <textarea class="form-control" value="{{newType.description}}" rows="6" disabled></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="common.inputter"></label>  {{newType.inputter}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="common.date"></label>  {{newType.dateTime}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ibox">
                    <div class="row">
                      <div class="col-md-12">
                        <h2 data-i18n="common.oldInfo"></h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="contractType.name"></label>  {{oldType.name}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="contractType.description"></label>
                        <textarea class="form-control" value="{{oldType.description}}" rows="6" disabled></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="common.authorizer"></label>  {{oldType.authorizer}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="common.inputter"></label>  {{oldType.inputter}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label for="title" data-i18n="common.date"></label>  {{oldType.dateTime}}
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="modal-footer">
                  <p><strong><h3 data-i18n="common.auth_msg"></h3></strong></p>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                    <button type="button" id="BtnAuthorize" class="btn btn-outline btn-info btn-sm btn-danger BtnAuthorize" data-dismiss="modal"><i class="fa fa-angellist"></i> <span data-i18n="common.btn-auth"></span></button>
                </div>
            </div>
        {{/if}}
      </div>
  </div>
  <div class="modal inmodal" id="TypeDetailsAu" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:600px; left: -20px; top: -25px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-list-alt modal-icon"></i>
              <h2 class="modal-title" data-i18n="common.details"></h2>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-8">
                      <label for="title" data-i18n="contractType.name"></label>  {{typeDetails.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="contractType.description"></label>
                      <textarea class="form-control" value="{{typeDetails.description}}" rows="6" disabled></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="common.inputter"></label>  {{typeDetails.inputter}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="common.date"></label>  {{typeDetails.dateTime}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-close"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="TypeDetailsLive" tabindex="-1" user="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" style="width:600px; left: -20px; top: -25px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <i class="fa fa-list-alt modal-icon"></i>
              <h2 class="modal-title" data-i18n="common.details"></h2>
            </div>
            <div class="modal-body" >
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-8">
                      <label for="title" data-i18n="contractType.name"></label>  {{typeDetails.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="contractType.description"></label>
                      <textarea class="form-control" value="{{typeDetails.description}}" rows="6" disabled></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="common.inputter"></label>  {{typeDetails.inputter}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="common.authorizer"></label>  {{typeDetails.authorizer}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="title" data-i18n="common.date"></label>  {{typeDetails.dateTime}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-close"></span></button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal inmodal" id="edictState" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top:120px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-warning modal-icon"></i>
                <h4 class="modal-title" data-i18n="common.warning"></h4>
              </div>
              <div class="modal-body">
                <p><h3 data-i18n="common.edictState"></h3></p>
              </div>
              <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-primary cancelWarning"><span data-i18n="common.btn-ok"></span></button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="checkDeleting" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top: 100px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.alert"></h4>
              </div>
              <div class="modal-body">
                  <strong><h3 data-i18n="common.delete_msg"></h3></strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="submit" class="btn btn-danger BtnDelete" data-dismiss="modal"><span data-i18n="common.btn-auth"></span></button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal inmodal" id="checkCancel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated flipInY" style="top: 100px;">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" data-i18n="common.alert"></h4>
              </div>
              <div class="modal-body">
                  <strong><h3 data-i18n="common.delete_msg"></h3></strong>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal"><span data-i18n="common.btn-cancel"></span></button>
                  <button type="submit" class="btn btn-danger BtnCancel" data-dismiss="modal"><span data-i18n="common.btn-delete"></span></button>
              </div>
          </div>
      </div>
  </div>
</template>
