<template name="login">
      <div class="middle-box text-center loginscreen animated fadeInDown">
          <div>
              <div>
                  <h1 class="logo-name">S²</h1>
              </div>
              <h3>Welcome to Smart Screen solution</h3>
              <p>Login in. To see it in action.</p>
              <form class="m-t login" role="form" id="form">
                  <div class="form-group"><input type="text" id="email" name="email" class="form-control required" placeholder="E-mail" required></div>
                  <div class="form-group"><input type="password" id="password" name="password" class="form-control required" placeholder="Password" required></div>
                  <button type="submit" class="btn btn-primary block full-width m-b login">Login</button>
              </form>
              <!--<div class="form-group"><input type="text" id="email" name="email" class="form-control required" placeholder="E-mail" required></div>
              <div class="form-group"><input type="password" id="password" name="password" class="form-control required" placeholder="Password" required></div>
              <button type="submit" class="btn btn-primary block full-width m-b login">Login</button>
              <a href="#"><small>Forgot password?</small></a>
              <p class="text-muted text-center"><small>Do not have an account?</small></p>-->
              <p class="m-t"> <small>Swallow Labs solution &copy; 2016</small> </p>
          </div>
      </div>
</template>
