<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{userName}}</strong>
                           <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='login'}}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element"> S² </div>
                </li>
                {{#if equals status "swallow-labs"}}
                    <li>
                        <a href="{{pathFor route='allCompanies'}}"><i class="fa fa-bank"></i> <span class="nav-label" data-i18n="nav.companies"></span> </a>
                    </li>
                    {{#if equals role.accountDisplay true}}
                      <li>
                          <a href="{{pathFor route='allAccounts'}}"><i class="glyphicon glyphicon-user"></i> <span class="nav-label" data-i18n="nav.users"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.roleDisplay true}}
                      <li>
                          <a href="{{pathFor route='allRoles'}}"><i class="fa fa-key"></i> <span class="nav-label" data-i18n="nav.roles"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.invoiceDisplay true}}
                      <li>
                          <a href="{{pathFor route='#'}}"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.invoices"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.contractDisplay true}}
                      <li>
                          <a href="{{pathFor route='allContracts'}}"><i class="fa fa-clipboard"></i> <span class="nav-label" data-i18n="nav.contracts"></span> </a>
                      </li>
                    {{/if}}
                {{else}}
                    <li>
                        <a href="{{pathFor route='home'}}"><i class="fa fa-home fa-lg"></i> <span class="nav-label" data-i18n="nav.home"></span> </a>
                    </li>
                    {{#if equals role.accountDisplay true}}
                      <li>
                          <a href="{{pathFor route='allAccounts'}}"><i class="glyphicon glyphicon-user"></i> <span class="nav-label" data-i18n="nav.users"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.roleDisplay true}}
                      <li>
                          <a href="{{pathFor route='allRoles'}}"><i class="fa fa-key"></i> <span class="nav-label" data-i18n="nav.roles"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.invoiceDisplay true}}
                      <li>
                          <a href="{{pathFor route='#'}}"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.invoices"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.contractDisplay true}}
                      <li>
                          <a href="{{pathFor route='allContracts'}}"><i class="fa fa-clipboard"></i> <span class="nav-label" data-i18n="nav.contracts"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.articleDisplay true}}
                      <li>
                          <a href="{{pathFor route='allArticles'}}"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.articles"></span> </a>
                      </li>
                    {{/if}}
                    <li>
                        <a href="{{pathFor route='currencies'}}"><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.currency"></span> </a>
                    </li>
                    {{#if equals role.clientDisplay true}}
                      <li>
                          <a href="{{pathFor route='allClients'}}"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.clients"></span></a>
                      </li>
                    {{/if}}
                    {{#if equals role.screenDisplay true}}
                      <li>
                          <a href="{{pathFor route='allScreens'}}"><i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.screens"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.firmwareDisplay true}}
                      <li>
                          <a href="{{pathFor route='allFirmwares'}}"><i class="fa fa-archive"></i> <span class="nav-label" data-i18n="nav.firmware"></span></a>
                      </li>
                    {{/if}}
                    {{#if equals role.segmentDisplay true}}
                      <li>
                          <a href="{{pathFor route='segment'}}"><i class="fa fa-history"></i> <span class="nav-label" data-i18n="nav.segments"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.bookingDisplay true}}
                      <li>
                          <a href="{{pathFor route='allBookings'}}"><i class="fa fa-shopping-cart"></i> <span class="nav-label" data-i18n="nav.bookings"></span> </a>
                      </li>
                    {{/if}}
                    {{#if equals role.contentDisplay true}}
                      <li>
                          <a href="{{pathFor route='allContents'}}"><i class="fa fa-file-movie-o"></i> <span class="nav-label" data-i18n="nav.contents"></span> </a>
                      </li>
                    {{/if}}
                {{/if}}

            </ul>

        </div>
    </nav>
</template>
