<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Akrem Sallemi</strong>
                           <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='login'}}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        S²
                    </div>
                </li>
                <li>
                    <a href="{{pathFor route='home'}}"><i class="fa fa-institution"></i> <span class="nav-label" >Home</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allAccounts'}}"><i class="glyphicon glyphicon-user"></i> <span class="nav-label" >Accounts</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allRoles'}}"><i class="fa fa-key"></i> <span class="nav-label" >Roles</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allInvoices'}}"><i class="fa fa-files-o"></i> <span class="nav-label" >Invoices</span> </a>
                </li>
                <li >
                    <a href="#"><i class="fa fa-file-o"></i> <span class="nav-label" data-i18n="nav.menulevels">Contracts </span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Articles <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a href="#">New article</a></li>
                                <li><a href="#">Dispaly all</a></li>
                            </ul>
                        </li>
                        <li><a href="#">New contract</a></li>
                        <li><a href="#">Display all</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{pathFor route='allclients'}}"><i class="fa fa-users"></i> <span class="nav-label" >Clients</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allScreens'}}"><i class="fa fa-laptop"></i> <span class="nav-label" >Screens</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='segment'}}"><i class="fa fa-history"></i> <span class="nav-label" >Segments</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allBookings'}}"><i class="fa fa-shopping-cart"></i> <span class="nav-label" >Bookings</span> </a>
                </li>
                <li>
                    <a href="{{pathFor route='allContents'}}"><i class="fa fa-file-movie-o"></i> <span class="nav-label" >Contents</span> </a>
                </li>
                <li class="{{isActiveRoute regex='tableStatic|dataTables|fooTables'}}">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.tables">Configuration</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActiveRoute regex='tableStatic|dataTables|fooTables' className='in'}}">
                        <li class="{{isActiveRoute regex='tableStatic'}}"><a href="{{pathFor route='tableStatic'}}">Languages</a></li>
                        <li class="{{isActiveRoute regex='fooTables'}}"><a href="{{pathFor route='fooTables'}}">Device</a></li>
                        <li class="{{isActiveRoute regex='dataTables'}}"><a href="{{pathFor route='dataTables'}}">Time</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</template>
